*
    font-family: Georgia, 'Cambria', 'Times New Roman', Times, serif


html, body
    overflow-x: hidden

.header-home
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 500px
    .header-image
        height: 600px
        width: 100%
        object-fit: cover
    .slideshow-button 
        position: relative
        bottom: 40px
        background-color: #d53414
        color: white
        text-decoration: none
        border: 2px solid black
        padding: 15px 40px
        border-radius: 5px
        font-size: 22px
        font-weight: bold
    .slideshow-button:hover 
        background-color: #b52e13d7
        color: white
        border: 2px solid black
        cursor: pointer
  
.section-news
    background-image: url('../media/news_background.jpg')
    height: 1000px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .box-update-news 
        display: flex
        flex-direction: column
        justify-content: center
        .card 
            background-color: white
            width: 999px
            height: 211px
            display: flex
            flex-direction: row
            margin-bottom: 20px
            border-radius: 0%
            border: transparent
            .card-image 
                width: 349px
                height: 100%
                
            .card-textbox 
                padding-top: 10px
                padding-left: 20px
                
                display: flex
                flex-direction: column
                text-align: justify
                

               
            .card-title 
                position: relative
                padding-top: 10px
                padding-right: 20px
                font-weight: bold
                font-size: 25px
                color: black
                text-decoration: none
                
        
            .card-title:hover 
                color: #d53414
            p 
                padding-right: 50px
                color: #484846
                font-size: 20px
                
                
            .timestamp 
                position: absolute
                bottom: 0
                font-size: 16px
                color: rgb(135, 130, 130)
            .card-button 
                position: absolute
                right: 20px
                bottom: 20px
                font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif
                text-decoration: none
                color: black
                font-size: 18px
                
            .card-button:hover 
                color: #d53414
                
                
            


    
    