
    
.section-maps
    background-image: url('../media/background.jpg')
    height: 1000px
    width: 100%
    overflow-x: hidden
    align-items: center
    justify-content: center
    display: flex
    object-fit: cover
    .Body
        padding-top: 5px
        padding-left: 5px
        padding-right: 5px
        padding-bottom: 30px
        background-color: white
        max-width: 800px
        border-radius: 10px
        .card-section
            text-align: justify
            padding-left: 40px
            padding-right: 40px
            .card-content
                height: 100%
                padding-top: 40px
                display: flex
                flex-direction: row
                .card-image
                    border-radius: 5%
                    height: 250px
                    width: 249px
                .card-info
                    padding-left: 20px

                .card-title
                    .card-continent
                            font-weight: lighter
                            font-size: 13px
                            letter-spacing: 1px
                    .card-level
                        font-weight: bold
                        font-size: 14px
                    .card-text

    
.content-maps
    padding-top: 5px
    padding-left: 5px
    padding-right: 5px
    padding-bottom: 30px
    background-color: white
    max-width: 700px
    border-radius: 10px

                    




    
